
@media (max-width: 1440px) {
    .enquiry-wrapper h2 {
      font-size: 1.25rem;
    }
  .md-font{
    font-size: 11px!important;
  }
  .md-font ul li a,.md-font-component{
    font-size: 12px!important;
  }
    .enquiry-wrapper .btn {
      font-size: 0.85rem;
      padding: 0.25rem 0.5rem;
    }
  
    .enquiry-wrapper .nav-pills .nav-link {
      padding: 0.5rem;
    }
  
    .mar-left{
      margin-left: -145px!important;
    }
  }
  @media (min-width: 1441px) {
    .mar-left{
      margin-left: -120px!important;
    }
  }
  @media (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
    .mar-left {
      margin-left: 80px !important;
    }
  }