h1 {
    font-size: 1.5rem; /* Adjust as needed */
    line-height: 1.2; /* Ensure same line-height */
  }
//   .badge {
//     font-size: 1rem; /* Make badge size consistent with title if needed */
//   }
.ellipsis-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Ensures it takes the full width of its container */
  max-width: 100%;
  box-sizing: border-box; /* Ensures padding doesn’t increase width */
}

.badge-custom {
  text-transform: uppercase; /* Makes the text uppercase */
  display: inline-block;
  padding: 0.25em 0.6em; /* Adjust padding as needed */
  font-size: 0.875em; /* Adjust font size as needed */
  font-weight: bold;
  line-height: 1;
  color: #fff; /* Default text color */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; /* Adjust border radius as needed */
  &.badge-light-primary {
    background-color: #e1f0ff; /* Light primary background */
    color: #1e75bb; /* Darker primary text color */
  }

  &.badge-light-secondary {
    background-color: #f3f3f9; /* Light secondary background */
    color: #82868b; /* Darker secondary text color */
  }

  &.badge-light-success {
    background-color: #e7f8ef; /* Light success background */
    color: #28c76f; /* Darker success text color */
  }

  &.badge-light-warning {
    background-color: #fff9e6; /* Light warning background */
    color: #ff9f43; /* Darker warning text color */
  }

  &.badge-light-danger {
    background-color: #ffe2e6; /* Light danger background */
    color: #ea5455; /* Darker danger text color */
  }

  &.badge-light-info {
    background-color: #e3f7fc; /* Light info background */
    color: #00cfe8; /* Darker info text color */
  }

  /* Optional: hover effect with a subtle shadow */
  &:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow on hover */
  }
  }


