<!-- The modal content will be rendered by NgbModal -->
<div class="modal-header">
  <h5 class="modal-title">
    <i class="feather icon-package" style="font-size: 16px; margin-right: 8px;"></i>
    <span>Add Package Details</span>
  </h5>
  <p class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" aria-hidden="true"
     class="cursor-pointer"> × </p>
</div>

<form [formGroup]="newpakagesForm" (ngSubmit)="addPackageDetails(newpakagesForm)">
  
  <input type="hidden" formControlName="enquiryPackageId"/>
  <input type="hidden" formControlName="enquiryId"/>
 
  <!-- Modal Body -->
  <div class="modal-body ">
    
    <div class="row">
      <!-- Package Type input -->
      <div class="form-group col-6">
        <label for="packageType">Package Type</label>
        <ng-select [items]="packageTypes" [selectOnTab]="true" [searchable]="true" 
                   bindLabel="name" bindValue="id" 
                   formControlName="packageTypeId"
                   (change)="onChangePakageType($event)">
        </ng-select>
        <input type="hidden" formControlName="packageType"/>
      </div>
      
      <!-- Total Gross Weight input -->
      <div class="form-group col-6">
        <label for="grossWeight">Total Gross Weight</label>
        <input type="number" class="form-control" id="grossWeight" formControlName="totalGrossWeight"  disabled/>
      </div>
    </div>
    
    <div class="form-group">
      <label for="packageDetails">Package Details</label>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Package Count" formControlName="packageCount" />
        <input type="number" class="form-control" placeholder="L (mm)" formControlName="lengthMm" (change)="calculateTotalGrossWeight(newpakagesForm)"/>
        <input type="number" class="form-control" placeholder="W (mm)" formControlName="weightMm" (change)="calculateTotalGrossWeight(newpakagesForm)"/>
        <input type="number" class="form-control" placeholder="H (mm)" formControlName="heightMm" (change)="calculateTotalGrossWeight(newpakagesForm)"/>
        <input type="number" class="form-control" placeholder="Net Wt" formControlName="netWeight" />
        <input type="number" class="form-control" placeholder="Gross Wt" formControlName="grossWeight" disabled/>
        <input type="number" class="form-control" placeholder="Vol. Wt" formControlName="volumeWeight" disabled />
        <input type="number" class="form-control" placeholder="CBM" formControlName="cbm" />
      </div>
    </div>
  </div>
  
  <!-- Modal Footer -->
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    <button type="submit" class="btn btn-success ml-2" >Add</button>

    <input type="hidden" formControlName="modifiedBy" value="userId"/>
    <input type="hidden" formControlName="createdBy" value="userId"/>
    <input type="hidden" formControlName="deletedBy" value="userId"/>
  </div>
</form>