span.padd-add.ng-star-inserted {
    padding-top: 3px;
}
.panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon-left, .padd-add {
    display: flex;
    align-items: center;
  }
  
  .icon-right {
    margin-left: auto;
    margin-right: 20px;
  }
  .rounded-corner-accordian {
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    padding: 2px;
}