<div class="modal-header">
  <h5 class="modal-title">
    <i class="feather icon-package" style="font-size: 16px; margin-right: 8px;"></i>
    <span>Add Required Equipment</span>
  </h5>
  <p class="btn-close cursor-pointer" aria-label="Close" (click)="activeModal.dismiss('Cross click')" aria-hidden="true"> × </p>
</div>

<!-- Modal Body -->
<form [formGroup]="requiredEquipmentForm" (ngSubmit)="addRequiredEquipment(requiredEquipmentForm)">
<div class="modal-body">
 
    <div class="row">
      <!-- Container Type input -->
      <div class="form-group col-6">
        <label for="containerType">Container Type</label>
        <ng-select [items]="containerTypes" 
                   bindLabel="name" 
                   bindValue="id" 
                   formControlName="containerTypesId"
                   (change)="onChangeContainer($event)">
        </ng-select>
        <input type="hidden" formControlName="containerTypes"/>
      </div>
  
      <!-- Count input -->
      <div class="form-group col-6">
        <label for="containerCount">Count</label>
        <input type="number" class="form-control" formControlName="containerCount" />
      </div>
    </div>
  </div>
  
  <!-- Modal Footer -->
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    <button type="submit" class="btn btn-success ml-2" >Add</button>
  </div>
</form>
