.row {
    display: flex;
  }
  
  .col-md-7,
  .col-md-5 {
    flex: 1;
  }
  .overviewsection {
    min-width: 643px; /* Adjust as needed */
  }
  .col-md-5 {
    min-width:451px
  }

.fixheader {
  position: fixed;
  top: 62px;
  width: 100%;
  max-width: 85%; /* Default max-width for smaller screens */
  z-index: 21;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0 12px 28px -12px rgba(34, 41, 47, 0.1);
  padding-left: 7px;
  padding-bottom: 0px;
  margin-left: -19px;
  margin-bottom: 0px;

}
.nav-pills a {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}