// @import '@core/scss/base/pages/app-invoice.scss';
// @import '@core/scss/angular/libs/flatpickr.component.scss';
// @import "~flatpickr/dist/flatpickr.css";

.more-options-dropdown {
  white-space: normal;
}
.unit-select {
  width: 97px;
  background-color: #414047;
  color: #ffffff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  border-color: #414047;
  height: 37px;
  padding: 0px 0;
  border-top-right-radius: 0.375rem; /* Adjust radius as needed */
  border-bottom-right-radius: 0.375rem; /* Adjust radius as needed */
}
.rate-header {
 background-color: #7367f0;
 color: #ffffff;
 border-radius: 5px;
}
.invoice-edit .invoice-preview-card .item-options-menu, .invoice-add .invoice-preview-card .item-options-menu {
  min-width: 7rem!important;
}

//////////
.unit-select .ng-select-container {
  border-color: #414047 !important;
  background-color: #414047 !important;
  color: #ffffff !important;
}

.unit-select .ng-arrow-wrapper {
  color: #ffffff !important;
}

.unit-select .ng-clear-wrapper {
  display: none;
}
